.new-products{
    padding: 50px 200px;
}
.new-products h3{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
}
.new-products h3::after{                            
    content: '';
    background: var(--primary);
    width: 80px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.small-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}