.new-products{
    width: 74%;
    margin: auto;
    padding: 50px 0;
}
.new-products h3{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
}
.new-products h3::after{                            
    content: '';
    background: var(--primary);
    width: 80px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.small-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}




















@media (max-width: 1080px) {
    .small-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 700px) {
    .small-container{
        grid-template-columns: 1fr 1fr;
    }   
}