.headerAdvSlider{
    padding: 50px 200px;
    background: rgba(147, 202, 222, 0.03);
    /* box-shadow: 2px 2px 5px rgb(206, 241, 241); */
    text-align: center;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:150px;
    align-items: center;
}
.adv-img{
    position: relative;
}
.adv-img img:last-child,.adv-img img:nth-child(2){
    position: absolute;
    top:0;
    left: 0;
    z-index: -100;
}


.text-box{
    text-align: center;
}
.text-box h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 100px;
}
.text-box p{
    font-size: 27px;
    opacity: 0.5;
}
.hero-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 40px;
    border-radius: 50px; 
    text-decoration: none;
    color: #fff;
    background: var(--primary);
    font-size: 14px;
}


.slider-control button{
    background: var(--primary);
    color: #fff;
    padding: 8px 12px;
    font-size: 23px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 40px 15px 0;
}