/*-----------------------reviews------------------------*/
.review-container{
    width: 80%;
    margin: auto;
}
.review-tab{
    text-align: center;
}
.review-tab button{
    background: transparent;
    font-size: 14px;
    padding: 0 20px 20px;
    margin: 0 10px;
    border: none;
    color: #555;
}
.review-tab .active-review-tab{
    border-bottom: 1px solid #7d7979 !important;
}
.reviews{
    border-top: 1px solid #ddd;
    padding: 60px 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
}
.reviews h4{
    text-align: end;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
}










/*---------------left side----------------*/
.your-review{
    text-align: end;
    color: #777;
}
.your-review h2{
    font-size: 22px;
}
.your-review span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0 10px;
}
.your-review svg{
    color: #eddf4c;
    font-size: 20px;
    cursor: pointer;
}
.your-review input,textarea{
    width: 100%;
    margin: 10px 0;
    border: 1px solid #dcdbdb;
    padding: 13px 0;
    outline: 0;
    border-radius: 30px;
    text-align: end;
}
.your-review input::placeholder,.your-review textarea::placeholder{
    color: #ccc;
    font-weight: 600;
    margin-right: 30px;
}
textarea{
    height: 180px;
}
.your-review .yourinfo-inputs{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.your-review .yourinfo-inputs input{
    width: 48%;
}
.your-review input[type=submit]{
    width: 30%;
    background-color: var(--primary);
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}
.your-review input[type=submit]:hover{
    background-color: #2cced1;
}








/*-----------right side-------------*/
.comment{
    text-align: end;
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
}
.comment-info{
    display:inline-block;
    margin-right:15px;
}
.comment-info h3{
    font-size: 21px;
    color: #555;
}
.comment-info p{
    font-size: 18px;
    margin: 10px 0 30px;
    color: #888;
}
.comment-info svg{
    color: #eddf4c;
    font-size: 20px;
}
.comment-info .name-date p{
    display: inline-block;
    margin: 0 0 0 30px;
}
