.product-img{
    position: relative;
    overflow: hidden;
}
.product-img img{
    width: 100%;
}

.product-img .layer {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.product-img .layer:hover{
    background: hsla(180, 5%, 79%, 0.1);
}
.product-img .layer p {
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 20px 0;
    background-color: var(--primary);
    position: absolute;
    display: none;
}

.layer:hover p {
    bottom: 0;
    display: block;
}







.single-pro .like{
    position: absolute;
    right: 15px;
    top: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: rgb(255, 68, 68);
    cursor: pointer;
}
.single-pro .like:hover{
    font-size: 23px;
}
.pro-info{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    text-align: end;
}
.price{
    color:var(--primary);
    text-align: start;
}
.price h5{
    font-size: 18px;
    font-weight: 500;
}
.price p{
    font-size: 14px;
    text-decoration: line-through;
}
.rating{
    color: rgb(250, 213, 65);
}
.pro-info h4{
    font-size: 16px;
    font-weight: 500;
    color: #777;
}
.pro-size span{
    display: inline-block;
    text-align: center;
    width: 22px;
    height: 22px;
    border: 0.5px solid #555;
    margin: 8px 3px 0;
    cursor: pointer;
}












/*---------------------------------------------------------------------------------------------------*/
@media (max-width: 1080px) {
    .price h5{
        font-size: 12px;
        font-weight: 500;
    }
    .price p{
        font-size: 11px;
        text-decoration: line-through;
    }
    .pro-info h4{
        font-size: 14px;
    }
    .pro-size span{
        width: 15px;
        height: 15px;
        font-size: 10px;
        margin: 8px 2px 0;
    }
    .product-img .layer p {
        font-size: 14px;
        padding: 15px 0;
    }
}
@media (max-width: 700px) {
    .pro-size span{
        width: 12px;
        height: 12px;
    }
    .product-img .layer p {
        font-size: 12px;
        padding: 10px 0;
    }
    .pro-info h4{
        font-size: 12px;
    }
}