.headerAdvSlider{
    background: rgba(147, 202, 222, 0.03);
    box-shadow: 2px 2px 5px rgb(246, 246, 246);
    padding: 20px 0;
    text-align: center;
}
.row{
    width: 74%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:80px;
    align-items: center;
}






.adv-img{
    position: relative;
}
.main-img{
    width: 100%;
}
.adv-img img:nth-child(2){
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -100;
}
.adv-img img:last-child{
    width: 75%;
    position: absolute;
    left: 0;
    z-index: -100;
}






.text-box{
    text-align: center;
}
.text-box h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 100px;
}
.text-box p{
    font-size: 27px;
    opacity: 0.5;
}
.hero-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 40px;
    border-radius: 50px; 
    text-decoration: none;
    color: #fff;
    background: var(--primary);
    font-size: 14px;
}
.hero-btn:hover{
    background: #47b7c8;
    transition: 1s;
}








.slider-control{
    margin: 40px auto 30px;
}


.slider-control .dots{
    display: inline-block;
    border: 1px solid #dcdbdb;
    padding: 5px 15px 10px;
    border-radius: 40px;
    margin: 0 15px;
}
.slider-control .dots div{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--product);
    margin: 0 3px;
    cursor: pointer;
}
.slider-control .dots .chossed{
    background: var(--primary);
}


.slider-control button{
    background: var(--primary);
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 19px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.slider-control .right{
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}




















@media (max-width: 1080px) {
    .row{
        gap:40px;
    }
    .text-box h2{
        font-size: 32px;
        line-height: 70px;
    }
    .text-box p{
        font-size: 20px;
        opacity: 0.5;
    }
}
@media (max-width: 700px) {
    .row{
        width: 100%;
        padding: 0 15px;
        gap:0;
    }
    .text-box h2{
        font-size: 18px;
        line-height: 30px;
    }
    .text-box p{
        font-size: 14px;
        opacity: 0.5;
    }
    .hero-btn{
        padding: 8px 30px;
        font-size: 12px;
    }
    .slider-control{
        margin: 30px 0 0;
    }
    .slider-control button{
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    .slider-control .dots{
        padding: 2px 10px 7px;
    }
}