.footer{
    background: var(--secondry);
    margin-top: 100px;
    text-align: center;
    padding: 40px 0 20px;
    color: #fff;
}
.footer ul li{
    display: inline-block;
    margin: 0 15px;
}
.footer ul li a{
    text-decoration: none;
    font-size: 23px;
    color: #fff;
}
.footer img{
    margin: 30px 15px;
    width: 50px;
    cursor: pointer;
}
.footer h4{
    font-size: 23px;
    margin-bottom: 50px;
}
.footer p{
    font-size: 18px;
}


















@media (max-width:1080px) {
    .footer{
        margin-top: 0;
        padding: 20px 0;
    }
    .footer ul li a{
        font-size: 18px;
    }
}
@media (max-width:700px) {
    .footer ul li{
        margin: 5px 15px;
    }
    .footer ul li a{
        font-size: 14px;
    }
    .footer img{
        margin: 15px;
        width: 30px;
    }
    .footer h4{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer p{
        font-size: 14px;
    }
}