.products-content{
    width: 80%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 68% 29%;/*background show why  (fr => X with swiper)*/
    gap: 40px;
    text-align: center;
}
.products-control-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: rgba(147, 202, 222, 0.05);
    border: 1px solid var(--product);
    border-radius: 20px;
    margin-bottom: 25px;
}
.products-control-header select{
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    text-align: end;
    outline: none;
    cursor: pointer;
}
.products-control-header p{
    display: inline-block;
    margin-left: 20px;
    color: #aaa;
    font-size: 14px;
}


.show-type-container{
    display: flex;
    align-items: center;
}
.show-type{
    background-color: var(--primary);
    color: #fff;
    width: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.show-type div{
    width: 3px;
    height: 3px;
    border: 1.6px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 1.5px;
}



.products-control-footer{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-control-footer svg{
    margin: 0 15px;
    cursor: pointer;
}
.products-control-footer button{
    background: transparent;
    border: 1px solid var(--product);
    width: 45px;
    height: 45px;
    font-size: 16px;
    border-radius: 50%;
    margin: 6px;
    cursor: pointer;
}
.products-control-footer .chossed{
    background: var(--primary);
    color: #fff;
}








.main-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

























/*---------------------------------------------------------------------------------------------------*/
@media (max-width: 1080px) {
    .products-content{
        width: 90%;
        margin-bottom: 50px;
        grid-template-columns: 68% 30%;
        gap: 20px;
    } 
    .main-products{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 700px) {
    .products-content{
        display: block;
    }
}
