.features{
    width: 74%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 3px solid #caf6fd;
}
.feature{
    text-align: right;
    display: flex;
}
.feature p{
    font-size: 13px;
    color: #aaa;
    line-height: 40px;
}
.feature svg{
    margin-left: 20px;
    font-size: 25px;
    color: var(--primary);
    padding: 10px;
    border: 2px solid rgba(234, 234, 234, 1);
    border-radius: 13px;
}














@media (max-width: 1080px) {
    .features{
        margin: 50px auto;
    }
    .feature{
        margin: 0 10px;
    }
    .feature h5{
        font-size: 12px;
    }
    .feature p{
        font-size: 11px;
        line-height: 20px;
    }
    .feature svg{
        margin-left: 8px;
        font-size: 20px;
        padding: 5px;
    }
}
@media (max-width: 700px) {
    .features{
        flex-wrap: wrap;
        padding: 0 0 20px;
    }
    .feature{
        margin: 10px 0;
    }
    .feature p{
        font-size: 10px;
        line-height: 20px;
    }
    .feature svg{
        margin-left: 5px;
        font-size: 12px;
    }
}

