.features{
    width: 74%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 3px solid #caf6fd;
}
.feature{
    text-align: right;
    display: flex;
}
.feature p{
    font-size: 13px;
    color: #aaa;
    line-height: 40px;
}
.feature svg{
    margin-left: 20px;
    font-size: 25px;
    color: var(--primary);
    padding: 10px;
    border: 2px solid rgba(234, 234, 234, 1);
    border-radius: 13px;
}

