*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',   'Droid Sans';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary:#7FD3DF;
  --secondry:#54A4AF;
  --boys:#D6F7FE;
  --girl:#FFE9EC;
  --product:#D9D9D9;
  --discount:#BDE6FC;
}

.active{
  color: var(--primary)
}