.limited-offer {
    width: 100%;
    background: var(--discount);
    display: flex;
    align-items: center;
    margin: 100px 0;
    position: relative;
    padding: 120px 0;
}

.limited-girl {
    position: absolute;
    right: 0;
    top: 0;
}

.limited-boy {
    position: absolute;
    bottom: 0;
}

.offer-time {
    text-align: center;
    margin: auto;
}

.offer-time p {
    font-size: 30px;
    font-weight: 500;
}

.offer-time h1 {
    font-size: 70px;
    font-weight: 700;
    color: #9363B5;
    margin: 20px 0;
}

.offer-time table tr {
    font-size: 55px;
    font-weight: 600;
}

.offer-time table tr .sec {
    color: #9363B5;
}

.offer-time table tr td {
    padding: 0 20px;
}

.offer-time button {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #9363B5;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

















@media (max-width:1080px) {
     .limited-offer {
        margin: 80px 0;
        padding: 30px 0;
    }
    .limited-offer img{
        width: 60%;
    }
    .limited-girl{
        text-align: end;
    }

    .offer-time p {
        font-size: 20px;
    }

    .offer-time h1 {
        font-size: 40px;
    }

    .offer-time table tr {
        font-size: 30px;
    }
    .offer-time button {
        font-size: 20px;
        padding: 10px 30px;
    }
}



@media (max-width:700px) {
    .limited-offer {
       margin: 30px 0;
       padding: 20px 0;
   }
   .limited-offer img{
       width: 40%;
   }

   .offer-time p {
       font-size: 12px;
   }

   .offer-time h1 {
       font-size: 20px;
   }

   .offer-time table tr {
       font-size: 16px;
   }
   .offer-time button {
       font-size: 12px;
       padding: 5px 20px;
   }
   .offer-time table tr td {
    padding: 0 7px;
    }
}